{% extends 'base.html.twig' %}

{% block title %}PC CLIM{% endblock %}

{% block body %}
    <div class="container">
        <div class="col">
            <div class="introduction col-lg-12 col-sm-12 d-flex" style="color: white">
                <img src="https://i.ibb.co/mhj2R9j/GOPR0016-up.webp" class="img-fluid p-5 d-flex align-items-center justify-content-center" alt="Pasquier-Coureau">

                <p class="p-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio aliquet ante vel commodo,
                    integer etiam purus, nibh. Viverra odio nibh nisl nullam nec euismod nec massa. In cras faucibus
                    eleifend mollis consectetur morbi vitae pulvinar adipiscing. Nec enim eu egestas eget adipiscing sed
                    commodo adipiscing placerat.</p>
            </div>
        </div>
    </div>
{% endblock %}