{% extends 'base.html.twig' %}

{% block title %}PC Clim{% endblock %}

{% block body %}
    {% include '/macro/button.html.twig' %}
    <section>
        {% include '/parts/accueil.html.twig' %}
    </section>

    <section class="chauffe-eau">
        {% include '/parts/prestations.html.twig' %}
    </section>

    <section class="equipe">
        {% include '/parts/equipe.html.twig' %}
    </section>

    <section>
        {% include '/parts/secteurs.html.twig' %}
    </section>

    <section class="avis">
        {% include '/parts/avis.html.twig' %}
    </section>

    <script>
        let mybutton = document.getElementById("btn-back-to-top");

        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

{% endblock %}