{% extends 'base.html.twig' %}

{% block title %}PC CLIM{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex  align-items-center justify-content-center" style="color: white">
            <img src="https://i.ibb.co/mhj2R9j/GOPR0016-up.webp" class="img-fluid p-5 " alt="Pasquier-Coureau">
        </div>
        <div class="container-fluid">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio aliquet ante vel commodo,
                integer etiam purus, nibh. Viverra odio nibh nisl nullam nec euismod nec massa. In cras faucibus
                eleifend mollis consectetur morbi vitae pulvinar adipiscing. Nec enim eu egestas eget adipiscing sed
                commodo adipiscing placerat.
            </p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem blanditiis, cum dolores doloribus
                expedita explicabo harum itaque iure laudantium numquam officia perspiciatis quaerat quibusdam quos sit
                voluptatibus. Aliquid, fugiat.</p>
        </div>
    </div>
{% endblock %}