{% extends 'base.html.twig' %}

{% block title %}PC Clim{% endblock %}

{% block body %}
    <section>
        {% include '/parts/accueil.html.twig' %}
    </section>

        {% include '/parts/climatisation.html.twig' %}

    <section class="equipe">
        {% include '/parts/equipe.html.twig' %}
    </section>

    <section>
        {% include '/parts/secteurs.html.twig' %}
    </section>

    <section class="avis">
        {% include '/parts/avis.html.twig' %}
    </section>

{% endblock %}