{% extends 'base.html.twig' %}

{% block title %}PC Clim{% endblock %}

{% block body %}
    <section>
        {% include '/parts/_accueil.html.twig' %}
    </section>

        {% include '/parts/_climatisation.html.twig' %}

        {% include '/parts/_chauffe-eau.html.twig' %}

    <section class="equipe">
        {% include '/parts/_equipe.html.twig' %}
    </section>

    <section>
        {% include '/parts/_secteurs.html.twig' %}
    </section>

{% endblock %}