{% extends 'base.html.twig' %}

{% block title %}PC Clim{% endblock %}

{% block body %}
    <section>
        {% include '/parts/_accueil.html.twig' %}
    </section>

    <section>
        {% include '/parts/_prestations.html.twig' %}
    </section>

    <section>
        {% include '/parts/_equipe.html.twig' %}
    </section>

{% endblock %}