{% extends 'base.html.twig' %}

{% block title %}PC Clim{% endblock %}

{% block body %}
    <div class="content">
        <img src="https://i.ibb.co/BzNcD6k/img-long1.jpg"
             alt="news-image-header-b6c1141cac8ef2936dd0571fb3031efc" border="0">
    </div>
{% endblock %}