{% extends 'base.html.twig' %}

{% block title %}PC Clim{% endblock %}

{% block body %}
    <section id="accueil">
        {% include '/parts/_accueil.html.twig' %}
    </section>

    <section id="prestations">
        {% include '/parts/_prestations.html.twig' %}
    </section>

    <section id="prestations_bis">
        {% include '/parts/_prestations_bis.html.twig' %}
    </section>


{% endblock %}