@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

$first-color: #273766;
$second-color: #900202;

$size-text: calc(16px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
$size-title: calc(64px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
$size-footer: calc(10px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));

$mt: 10px;
$mb: 10px;

$theme-colors: (
        "primary": $first-color,
        "danger": $second-color,
);