@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inter:wght@800&display=swap');

$text: whitesmoke;
$nav-bar: #273766;
$size-text: calc(16px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
$size-title: calc(64px + (16 - 12) * ((100vw - 300px) / (1600 - 300)))

