@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: white;
}

section {
  height: 100;
}

nav {
  background-color: white;
}

.phone {
  background-color: #112869;
}

.logo {
  width: 100%;
  height: 100%;
}

.presentation {
  width: 100%;
  aspect-ratio: 16 / 5;
  object-fit: cover;
}

.accueil {
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 100%;
}

.box {
  max-width: 1200px;
  margin: auto;
  transform: translateY(-50%);

  div {
    background-color: white;
  }
}

.button {
  background-color: #05316E;
  color: white;
  padding: 10px;
}

#prestations {
  background-color: #F5F5F5;
}

.img-presta {
  max-height: 150px;
}