@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-color: white;
}

.phone {
    background-color: #112869;
}

.logo {
    width: 95px;
    height: 70px;
}