<footer class="footer text-center">
    <div class="px-6 pt-6 m-0">
        <div class="justify-center mb-6">
            <div class="grid xl:grid-cols-8 sm:grid-cols-1 xl:gap-4 sm:gap-2 flex items-center">
                <div class="mb-4 flex items-center justify-center">
                    <img src="https://i.ibb.co/yN7WxwN/aubade-white-removebg-preview.png"
                         class="max-w-full h-16 rounded-lg flex items-center justify-center" alt="clim+-partenaire-pc-clim">
                </div>
                <div class="mb-4 flex items-center justify-center">
                    <img src="https://i.ibb.co/wNLWJXf/1672658003316-removebg-preview.png"
                         class="max-w-full h-16 rounded-lg" alt="cofriset-partenaire-pc-clim">
                </div>
                <div class="mb-4 flex items-center justify-center">
                    <img src="https://i.ibb.co/gRf5X4n/9099257905182-removebg-preview.png"
                         class="max-w-36 h-16 rounded-lg" alt="cacc-partenaire-pc-clim">
                </div>
                <div class="mb-4 flex items-center justify-center">
                    <img src="https://i.ibb.co/hKvsL5F/atlantic-cas-entreprise-removebg-preview.png"
                         class="max-w-full h-16 rounded-lg" alt="atlantic-partenaire-pc-clim">
                </div>
                <div class="mb-4 flex items-center justify-center">
                    <img src="https://i.ibb.co/N38Sk4D/unnamed-removebg-preview.png"
                         class="max-w-full h-16 rounded-lg" alt="cged-partenaire-pc-clim">
                </div>
                <div class="mb-4 flex items-center justify-center">
                    <img src="https://i.ibb.co/FxDK5RC/Qualibat-RGE-Logo-removebg-preview.png"
                         class="max-w-full h-16 rounded-lg" alt="rge-qualibat-pc-clim">
                </div>
                <div class="mb-4 flex items-center justify-center">
                    <img src="https://i.ibb.co/ChK98hn/logo-espace-aubade-a1f53d-removebg-preview.png"
                         class="max-w-full h-16 rounded-lg" alt="aubade-partenaire-pc-clim">
                </div>
                <div class="mb-4 flex items-center justify-center">
                    <img src="https://i.ibb.co/T1WbQQ3/Tereva-removebg-preview.png"
                         class="max-w-full h-16 rounded-lg" alt="téréva-partenaire-ppc-clim">
                </div>

            </div>
        </div>
    </div>

    <div class="text-center p-4">
        <p class="text-base text-center">
            &copy; 2023 <a href="https://www.damien-carli.info" target="_blank" class="capitalize">Damien Carli</a>.
        </p>
        <p class="text-base text-center">Tout Droit Réservés.</p>

    </div>
</footer>



