<nav class="w-full flex items-center justify-around flex-wrap p-2">
    <div class="flex items-center flex-shrink-0 mr-6">
        <div class="flex items-center">
            <div class="h-16">
                <img class="h-16 w-auto object-contain"
                     src="https://i.ibb.co/5nrV2ZV/2-480w.png" alt="pc-clim-logo" border="0">
            </div>
            <p class="ml-2 max-sm:hidden text-2xl font-bold text-[#112869]">
                PC CLIM
            </p>
        </div>

    </div>

    <div class="flex-initial p-2 rounded">
        <div class="flex justify-end items-center relative">
            <div class="flex relative justify-around items-center">
                <div class="text-white">
                    <span>
                        <a class="bg-transparent hover:bg-[#112869] text-[#112869] font-semibold hover:text-white py-2 px-4 border border-[#112869] hover:border-transparent rounded"
                           href="#contact">Nous contacter</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</nav>