<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-brand name d-flex align-item-start justify-content-start ms-5">PC CLIM</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex align-items-center justify-content-end me-5" id="navbarText">
        <ul class="navbar-nav mr-5 ml-auto">
            <li class="nav-item active">
                <h4>
                    <a class="nav-link hover-underline-animation link" href="#">ACCUEIL</a>
                </h4>
            </li>
            <li class="nav-item active">
                <h4>
                    <a class="nav-link hover-underline-animation link" href="#">QUI SOMMES-NOUS</a>
                </h4>
            </li>
            <li class="nav-item active">
                <h4><a class="nav-link  hover-underline-animation link" href="#">ACTIVITÉS</a></h4>
            </li>
            <li class="nav-item active">
                <h4>
                    <a class="nav-link  hover-underline-animation link" href="#">CONTACT</a>
                </h4>
            </li>
        </ul>
    </div>
</nav>
{% block body %}{% endblock %}
<section class="">
    <!-- Footer -->
    <footer class="text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3">Register for free</span>
                    <button type="button" class="btn btn-outline-light btn-rounded">
                        Sign up!
                    </button>
                </p>
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>

{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</body>
</html>
