<section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
    <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">
        Notre équipe de professionnels à votre service
    </h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36"
                     src="https://i.ibb.co/RykHVV4/pascal-pasquier.jpg"
                     alt="pascal-pasquier">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-700 font-bold mb-2">Pasquier Pascal</p>
                <p class="text-base text-gray-400 font-normal">Co-Créateur de PC CLIM</p>
            </div>
        </div>
        <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36"
                     src="https://i.ibb.co/9bwcgX3/samuel-courreau.jpg" alt="samuel-courreau">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-700 font-bold mb-2">Samuel Coureau</p>
                <p class="text-base text-gray-400 font-normal">Co-Créateur de PC CLIM</p>
            </div>
        </div>
        <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36"
                     src="https://i.ibb.co/V93bdfq/gwenael-chapron.jpg" alt="gwenael-chapron">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-700 font-bold mb-2">Gwenael Chapron</p>
                <p class="text-base text-gray-400 font-normal">Employé</p>
            </div>
        </div>
        <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36"
                     src="https://i.ibb.co/Msdm6zj/val-rie-pasquier.jpg" alt="valerie-pasquier">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-700 font-bold mb-2">Valérie Pasquier</p>
                <p class="text-base text-gray-400 font-normal">Secrétaire</p>
            </div>
        </div>
        <div class="w-full bg-white rounded-lg p-12 flex flex-col justify-center items-center">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36"
                     src="https://i.ibb.co/QffpnbP/nicolas-pires.jpg" alt="nicolas-pires">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-700 font-bold mb-2">Nicolas Pires</p>
                <p class="text-base text-gray-400 font-normal">Employé</p>
            </div>
        </div>
    </div>
</section>