<h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading pt-16 pb-16 text-center">
    Notre équipe de professionnels à votre service
</h1>

<div class="pb-16">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6 pb-8">
        <div class="w-full flex flex-col justify-center items-center pb-16">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36"
                     src="https://i.ibb.co/RykHVV4/pascal-pasquier.jpg"
                     alt="pascal-pasquier">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-700 font-bold mb-2">Pasquier Pascal</p>
                <p class="text-base text-gray-400 font-normal">Co-Créateur de PC CLIM</p>
            </div>
        </div>
        <div class="w-full flex flex-col justify-center items-center pb-16">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36"
                     src="https://i.ibb.co/9bwcgX3/samuel-courreau.jpg" alt="samuel-coureau">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-700 font-bold mb-2">Samuel Coureau</p>
                <p class="text-base text-gray-400 font-normal">Co-Créateur de PC CLIM</p>
            </div>
        </div>
        <div class="w-full flex flex-col justify-center items-center pb-16">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36"
                     src="https://i.ibb.co/V93bdfq/gwenael-chapron.jpg" alt="gwenael-chapron">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-700 font-bold mb-2">Gwenael Chapron</p>
                <p class="text-base text-gray-400 font-normal">Employé</p>
            </div>
        </div>
        <div class="w-full flex flex-col justify-center items-center">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36"
                     src="https://i.ibb.co/Msdm6zj/val-rie-pasquier.jpg" alt="valerie-pasquier">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-700 font-bold mb-2">Valérie Pasquier</p>
                <p class="text-base text-gray-400 font-normal">Secrétaire</p>
            </div>
        </div>
        <div class="w-full flex flex-col justify-center items-center">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36"
                     src="https://i.ibb.co/QffpnbP/nicolas-pires.jpg" alt="nicolas-pires">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-700 font-bold mb-2">Nicolas Pires</p>
                <p class="text-base text-gray-400 font-normal">Employé</p>
            </div>
        </div>
        <div class="w-full flex flex-col justify-center items-center">
            <div class="mb-8">
                <img class="object-center object-cover rounded-full h-36 w-36"
                     src="https://via.placeholder.com/150" alt="thomas-le-nouveau">
            </div>
            <div class="text-center">
                <p class="text-xl text-gray-700 font-bold mb-2">Thomas Lenormand</p>
                <p class="text-base text-gray-400 font-normal">Employé</p>
            </div>
        </div>
    </div>
</div>