<div class="prestations" id="prestations">

    <div class="flex justify-around p-24">
        <div class="w-1/3 flex-col items-center">
            <img src="https://via.placeholder.com/900x400/05316E/FFFFFF?text=PC+CLIM" alt="Image 1"
                 class="img-presta mx-auto justify-between">
            <h3 class="font-bold mt-3">Climatisation</h3>
            <p class="text-justify mx-auto mt-3">
                L'installation d'un système de climatisation réversible nécessite généralement l'intervention d'un
                professionnel qualifié. Le professionnel devra d'abord effectuer une évaluation de la pièce à climatiser
                afin de déterminer la taille et le type de système de climatisation réversible qui conviendront le
                mieux. Il devra ensuite installer les différents éléments du système, comme le compresseur,
                l'évaporateur et le condenseur, en suivant les instructions du fabricant. Il devra également effectuer
                un réglage précis du système afin de garantir son bon fonctionnement.
            </p>
            <div class="box flex justify-start mt-10">
                <button class="button">
                    Demander un devis
                </button>
            </div>
        </div>

        <div class="w-1/3 flex-col items-center">
            <img src="https://via.placeholder.com/900x400/05316E/FFFFFF?text=PC+CLIM" alt="Image 2"
                 class="img-presta mx-auto justify-between">
            <h3 class="font-bold mt-3">Entretiens et réparations</h3>
            <p class="text-justify mx-auto mt-3">
                Il est important de maintenir et d'entretenir régulièrement votre système de climatisation afin de
                garantir son bon fonctionnement et de prolonger sa durée de vie. En cas de panne de votre climatiseur,
                il est recommandé de faire appel à un professionnel pour le réparer. Un professionnel qualifié comme PC
                CLIM sera en mesure de diagnostiquer rapidement le problème et de vous proposer une solution adaptée. Il
                pourra également vous conseiller sur les meilleures façons de maintenir votre climatiseur en bon état et
                de prolonger sa durée de vie.
            </p>
            <div class="box flex justify-start mt-10">
                <button class="button">
                    Demander un devis
                </button>
            </div>
        </div>

    </div>

    <div class="flex justify-center">
        <img src="https://via.placeholder.com/900x400/05316E/FFFFFF?text=PC+CLIM" alt="Image"
             class="mr-4 img-presta">
        <div class="w-1/2">
            <h3 class="font-bold">Pompe à chaleur</h3>
            <p>
                PC CLIM est une entreprise spécialisée dans l'installation de systèmes de chauffage écologiques, y
                compris les pompes à chaleur, les chaudières à bois et les systèmes de chauffage solaire. Il est
                important de noter que le coût de l'installation d'un nouveau système de chauffage dépend de nombreux
                facteurs, notamment de la taille de votre maison, de l'efficacité énergétique de votre nouveau système
                et de l'accessibilité de votre emplacement. Il est recommandé de demander un devis à PC CLIM pour
                connaître le coût exact de l'installation de votre nouveau système de chauffage.
            </p>
        </div>
    </div>

</div>