<div class="">
    <div class="container m-auto text-gray-600">

        <h2 class="title font-bold text-3xl md:text-4xl lg:text-5xl font-heading pt-8 pb-8 text-center">
            Ils nous ont fait confiance
        </h2>

        <div class="grid gap-8 md:grid-rows-2 lg:grid-cols-2">
            <div class="row-span-2 p-6 border border-gray-100 rounded-xl text-center sm:p-8">
                <div class="h-full flex flex-col justify-center space-y-4">
                    <p class="text-gray-600 md:text-xl"><span class="font-serif">"</span> Installation d’un climatiseur
                        le 08/02/2019 : PARFAIT à tout point de vue, ponctualité, propreté, rapidité, instructions.
                        Personnel particulièrement agréable et professionnel. J’ai expérimenté Semfi...à éliminer si
                        vous hésitez.<span class="font-serif">"</span></p>
                    <div>
                        <div class="flex items-center justify-center mb-2">
                            {% include '/macro/stars.html.twig' %}
                        </div>

                        <h6 class="text-lg font-semibold leading-none mb-2">wangliangsuzhou</h6>
                        <span class="text-xs text-gray-500">08/01/2019</span>
                    </div>
                </div>
            </div>

            <div class="p-6 border border-gray-100 rounded-xl sm:flex sm:space-x-8 sm:p-8">
                <div class="space-y-4 mt-4 text-center sm:mt-0 sm:text-left">
                    <h3 class="font-bold flex items-center justify-center">
                        <a href="https://www.pagesjaunes.fr/pros/55667464" target="_blank">
                            Compétence et respect des engagements
                        </a>
                    </h3>
                    <p class="text-gray-600 flex justify-center space-y-4"><span class="font-serif">"</span>
                        Entreprise très compétente qui m'a installé une clim réversible d'une manière exemplaire.
                        Personnels tres sympas, efficaces et qui m'ont laissé un chantier "nickel". À recommander tant
                        sur le plan professionnel que sur le plan tarifaire et respect des délais. A RECOMMANDER
                        <span class="font-serif">"</span></p>
                    <div>
                        <div class="flex items-center justify-center mb-2">
                            {% include '/macro/stars.html.twig' %}
                        </div>

                        <h6 class="text-lg font-semibold leading-none flex justify-center mb-2">Gérard Ansart</h6>
                        <span class="text-xs text-gray-500 flex justify-center">18/06/2018</span>
                    </div>
                </div>
            </div>
            <div class="p-6 border border-gray-100 rounded-xl sm:flex sm:space-x-8 sm:p-8">
                <div class="space-y-4 mt-4 text-center sm:mt-0 sm:text-left">
                    <h3 class="font-bold flex items-center justify-center">
                        <a href="https://www.pagesjaunes.fr/pros/55667464" target="_blank">Réparation clim</a>
                    </h3>
                    <p class="text-gray-600"><span class="font-serif">"</span> Entreprise de 1ʳᵉ ordre,
                        professionnalisme, on sait râler quand c'est bien, il faut le dire. Réparation propre chantier
                        impeccable entreprise à recommander, je ne connais pas les noms des employés, mais bravo.<span
                                class="font-serif">"</span></p>
                    <div>
                        <div class="stars flex items-center justify-center mb-2">
                            {% include '/macro/stars.html.twig' %}
                        </div>

                        <h6 class="text-lg font-semibold leading-none flex justify-center mb-2">Yves Martaguet</h6>
                        <span class="text-xs text-gray-500 flex justify-center">03/10/2016</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>