<section class="avis">
    <div class="mx-auto max-w-screen-2xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
        <div class="md:flex md:items-end md:justify-between">
            <div class="max-w-xl">
                <h2 class="title text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
                    Lire les commentaires de confiance de nos clients
                </h2>

{#                <p class="text mt-6 max-w-lg leading-relaxed text-gray-700">#}
{#                    La lecture des commentaires de nos clients est vitale. Leurs retours de confiance nous inspirent,#}
{#                    nous motivent à maintenir l'excellence et à renforcer notre relation clientèle, faisant de chaque#}
{#                    avis une pierre angulaire de notre amélioration continue.#}
{#                </p>#}
            </div>

{#            <a href="#" class="mt-6 inline-flex shrink-0 items-center gap-2 rounded-full border border-rose-600 px-5#}
{#            py-3 text-rose-600 transition hover:bg-blue hover:text-white md:mt-0">#}
{#                <span class="font-medium"> Voir tous les commentaires </span>#}

{#                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 rtl:rotate-180" fill="none" viewBox="0 0 24 24"#}
{#                     stroke="currentColor">#}
{#                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"/>#}
{#                </svg>#}
{#            </a>#}
        </div>

        <div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-3">
            <blockquote class="flex h-full flex-col justify-between bg-white p-6 shadow-sm sm:p-8 rounded-2xl">
                <div>
                    <div class="flex gap-0.5 text-green-500">
                        <div class="flex items-center justify-center mb-2">
                            {% include '/macro/stars.html.twig' %}
                        </div>
                    </div>

                    <div class="mt-4">
                        <p class="text-2xl font-bold text-rose-600 sm:text-3xl">
                            Service Exceptionnel
                        </p>

                        <p class="mt-4 leading-relaxed text-gray-700">
                            Je suis serein pour l'avenir : l'équipe de PC Clim sera à même d'assurer l'entretien ou
                            toute opération de SAV qui serait nécessaire.
                            À l'appui de toute mon expérience client, je recommande vivement la Société PC CLIM. Un grand
                            merci à toute l'équipe pour la qualité de votre travail.
                        </p>
                    </div>
                </div>

                <footer class="mt-4 text-sm font-medium text-gray-700 sm:mt-6">
                    &mdash; Laurent C.
                    <p><small class="italic">le 21/10/2023</small></p>
                </footer>
            </blockquote>

            <blockquote class="flex h-full flex-col justify-between bg-white p-6 shadow-sm sm:p-8 rounded-2xl">
                <div>
                    <div class="flex gap-0.5 text-green-500">
                        <div class="flex items-center justify-center mb-2">
                            {% include '/macro/stars.html.twig' %}
                        </div>
                    </div>

                    <div class="mt-4">
                        <p class="text-2xl font-bold text-rose-600 sm:text-3xl">
                            Satisfaction totale
                        </p>

                        <p class="mt-4 leading-relaxed text-gray-700">
                            Délais devis rapide, date intervention et heure respectés, clim installé avec une équipe
                            sympathique en une 1/2 journée avec 5 employés . Chantier rendu propre. Rapport qualité prix
                            excellent. Entreprise très sérieuse.que je recommande vivement.
                        </p>
                    </div>
                </div>

                <footer class="mt-4 text-sm font-medium text-gray-700 sm:mt-6">
                    &mdash; Phillipe MAINCENT
                    <p><small class="italic">le 17/08/2023</small></p>
                </footer>
            </blockquote>

            <blockquote class="flex h-full flex-col justify-between bg-white p-6 shadow-sm sm:p-8 rounded-2xl">
                <div>
                    <div class="flex gap-0.5 text-green-500">
                        <div class="flex items-center justify-center mb-2">
                            {% include '/macro/stars.html.twig' %}
                        </div>
                    </div>

                    <div class="mt-4">
                        <p class="text-2xl font-bold text-rose-600 sm:text-3xl">
                            Professionnalisme
                        </p>

                        <p class="mt-4 leading-relaxed text-gray-700">
                            Personnes compétentes et sympathiques , chantier tres propre : de bons professionnels.
                        </p>
                    </div>
                </div>

                <footer class="mt-4 text-sm font-medium text-gray-700 sm:mt-6">
                    &mdash; Jean-Pascal THENEVOT
                    <p><small class="italic">le 18/03/2021</small></p>
                </footer>
            </blockquote>
        </div>
    </div>
</section>

{#<div class="">#}
{#    <div class="container m-auto text-gray-600">#}

{#        <h2 class="title font-bold text-3xl md:text-4xl lg:text-5xl font-heading pt-8 pb-8 text-center">#}
{#            Ils nous ont fait confiance#}
{#        </h2>#}

{#        <div class="grid gap-8 md:grid-rows-2 lg:grid-cols-2">#}
{#            <div class="row-span-2 p-6 border border-gray-100 rounded-xl text-center sm:p-8">#}
{#                <div class="h-full flex flex-col justify-center space-y-4">#}
{#                    <p class="text-gray-600 md:text-xl"><span class="font-serif">"</span><span class="font-serif">"</span></p>#}
{#                    <div>#}
{#                        <div class="flex items-center justify-center mb-2">#}
{#                            {% include '/macro/stars.html.twig' %}#}
{#                        </div>#}

{#                        <h6 class="text-lg font-semibold leading-none mb-2">wangliangsuzhou</h6>#}
{#                        <span class="text-xs text-gray-500">08/01/2019</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{#            <div class="p-6 border border-gray-100 rounded-xl sm:flex sm:space-x-8 sm:p-8">#}
{#                <div class="space-y-4 mt-4 text-center sm:mt-0 sm:text-left">#}
{#                    <h3 class="font-bold flex items-center justify-center">#}
{#                        <a href="https://www.pagesjaunes.fr/pros/55667464" target="_blank">#}
{#                            Pose de climatiseur#}
{#                        </a>#}
{#                    </h3>#}
{#                    <p class="text-gray-600 flex justify-center space-y-4">#}
{#                        <span class="font-serif">"</span>#}
{#                        Installation d’un climatiseur#}
{#                        le 08/02/2019 : PARFAIT à tout point de vue, ponctualité, propreté, rapidité, instructions.#}
{#                        Personnel particulièrement agréable et professionnel. J’ai expérimenté Semfi...à éliminer si#}
{#                        vous hésitez.#}
{#                    <span class="font-serif">"</span>#}
{#                    </p>#}
{#                    <div>#}
{#                        <div class="flex items-center justify-center mb-2">#}
{#                            {% include '/macro/stars.html.twig' %}#}
{#                        </div>#}

{#                        <h6 class="text-lg font-semibold leading-none flex justify-center mb-2">wangliangsuzhou</h6>#}
{#                        <span class="text-xs text-gray-500 flex justify-center">18/06/2018</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="p-6 border border-gray-100 rounded-xl sm:flex sm:space-x-8 sm:p-8">#}
{#                <div class="space-y-4 mt-4 text-center sm:mt-0 sm:text-left">#}
{#                    <h3 class="font-bold flex items-center justify-center">#}
{#                        <a href="https://www.pagesjaunes.fr/pros/55667464" target="_blank">#}
{#                            Compétence et respect des engagements#}
{#                        </a>#}
{#                    </h3>#}
{#                    <p class="text-gray-600 italic"><span class="font-serif">"</span>Entreprise très compétente qui m'a#}
{#                        installé une clim réversible d'une manière exemplaire. Personnel tres sympas, efficaces et qui#}
{#                        m'ont laissé un chantier "nickel". À recommander tant sur le plan professionnel que sur le plan#}
{#                        tarifaire et respect des délais. À RECOMMANDER<span class="font-serif">"</span></p>#}
{#                    <div>#}
{#                        <div class="stars flex items-center justify-center mb-2">#}
{#                            {% include '/macro/stars.html.twig' %}#}
{#                        </div>#}

{#                        <h6 class="text-lg font-semibold leading-none flex justify-center mb-2">Gérard Ansart</h6>#}
{#                        <span class="text-xs text-gray-500 flex justify-center">18/06/2018</span>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}