<section class="avis">
    <div class="mx-auto max-w-screen-2xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
        <div class="md:flex md:items-end md:justify-between">
            <div class="max-w-xl">
                <h2 class="title text-4xl font-bold tracking-tight sm:text-5xl">
                    Les commentaires de confiance de nos clients
                </h2>
            </div>
        </div>

        <div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-3">
            <blockquote class="flex h-full flex-col justify-between bg-white p-6 shadow-sm sm:p-8 rounded-2xl">
                <div>
                    <div class="flex gap-0.5 text-green-500">
                        <div class="flex items-center justify-center mb-2">
                            {% include '/macro/stars.html.twig' %}
                        </div>
                    </div>

                    <div class="mt-4">
                        <p class="text-2xl font-bold text-rose-600 sm:text-3xl">
                            Service Exceptionnel
                        </p>

                        <p class="mt-4 leading-relaxed text-gray-700">
                            Je suis serein pour l'avenir : l'équipe de PC Clim sera à même d'assurer l'entretien ou
                            toute opération de SAV qui serait nécessaire.
                            À l'appui de toute mon expérience client, je recommande vivement la Société PC CLIM. Un grand
                            merci à toute l'équipe pour la qualité de votre travail.
                        </p>
                    </div>
                </div>

                <footer class="mt-4 text-sm font-medium text-gray-700 sm:mt-6">
                    &mdash; Laurent C.
                    <p><small class="italic">le 21/10/2023</small></p>
                </footer>
            </blockquote>

            <blockquote class="flex h-full flex-col justify-between bg-white p-6 shadow-sm sm:p-8 rounded-2xl">
                <div>
                    <div class="flex gap-0.5 text-green-500">
                        <div class="flex items-center justify-center mb-2">
                            {% include '/macro/stars.html.twig' %}
                        </div>
                    </div>

                    <div class="mt-4">
                        <p class="text-2xl font-bold text-rose-600 sm:text-3xl">
                            Satisfaction totale
                        </p>

                        <p class="mt-4 leading-relaxed text-gray-700">
                            Délais devis rapide, date intervention et heure respectés, clim installé avec une équipe
                            sympathique en une 1/2 journée avec 5 employés . Chantier rendu propre. Rapport qualité prix
                            excellent. Entreprise très sérieuse.que je recommande vivement.
                        </p>
                    </div>
                </div>

                <footer class="mt-4 text-sm font-medium text-gray-700 sm:mt-6">
                    &mdash; Phillipe MAINCENT
                    <p><small class="italic">le 17/08/2023</small></p>
                </footer>
            </blockquote>

            <blockquote class="flex h-full flex-col justify-between bg-white p-6 shadow-sm sm:p-8 rounded-2xl">
                <div>
                    <div class="flex gap-0.5 text-green-500">
                        <div class="flex items-center justify-center mb-2">
                            {% include '/macro/stars.html.twig' %}
                        </div>
                    </div>

                    <div class="mt-4">
                        <p class="text-2xl font-bold text-rose-600 sm:text-3xl">
                            Professionnalisme
                        </p>

                        <p class="mt-4 leading-relaxed text-gray-700">
                            Personnes compétentes et sympathiques , chantier tres propre : de bons professionnels.
                        </p>
                    </div>
                </div>

                <footer class="mt-4 text-sm font-medium text-gray-700 sm:mt-6">
                    &mdash; Jean-Pascal THENEVOT
                    <p><small class="italic">le 18/03/2021</small></p>
                </footer>
            </blockquote>
        </div>
    </div>
</section>