<div class="chauffe-eau">

    <div class="flex justify-center pt-16 pb-16">
        <img src="https://i.ibb.co/5cJ4LKW/chauffe-eau-thermodynamique.png" alt="chauffe-eau-thermodynamique"
             class="mr-4 img-presta max-h-64 max-h-64">
        <div class="w-1/2">
            <h3 class="font-bold mt-3">Chauffe-eau thermodynamique</h3>
            <p class="mt-3">
                Un chauffe-eau thermodynamique est un appareil de chauffage qui utilise l'énergie contenue dans l'air
                ambiant pour produire de l'eau chaude. Il peut être utilisé comme source de chauffage principal ou en
                complément d'une autre source de chauffage, comme une chaudière ou un ballon d'eau chaude électrique.
                Pour toutes informations complémentaires, un membre de l'équipe sera en mesure de vous accompagner dans
                la réalisation de votre projet.
            </p>
            <div class="box flex justify-start mt-10">
                <button class="button">
                    <a href="mailto:pcclim@gmail.fr">Demander un devis</a>
                </button>
            </div>
        </div>
    </div>

</div>