<section class="bg-white py-24">
  
    <div class="mx-auto max-w-screen-2xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">

        <div class="md:flex md:items-end md:justify-between">
            <div class="max-sm:w-auto">
                <h2 class="title text-4xl font-bold tracking-tight sm:text-5xl">
                    👥 Notre équipe à votre service
                </h2>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 py-24">
    
            <div class="flex flex-col items-center text-center">
                <img
                src="https://i.ibb.co/RykHVV4/pascal-pasquier.jpg"
                alt="Pascal"
                loading="lazy"
                class="w-64 h-64 object-cover rounded-full shadow-lg mb-4"
                >
            <h4 class="text-2xl font-semibold">Pascal Pasquier</h4>
            <span class="text-sm text-gray-500 uppercase">Co-Fondateur</span>
            <p class="mt-4">
                <a href="tel:+33663292708"><u>0663292708</u></a>
            </p>
        </div>
        <div class="flex flex-col items-center text-center">
            <img
            src="https://i.ibb.co/9bwcgX3/samuel-courreau.jpg"
            alt="Samuel"
            loading="lazy"
            class="w-64 h-64 object-cover rounded-full shadow-lg mb-4"
            >
            <h4 class="text-2xl font-semibold">Samuel Coureau</h4>
            <span class="text-sm text-gray-500 uppercase">Co-Fondateur</span>
            <p class="mt-4">
                <a href="tel:+33662682637"><u>0662682637</u></a>
            </p>
        </div>
        <div class="flex flex-col items-center text-center">
            <img
            src="https://i.ibb.co/Msdm6zj/val-rie-pasquier.jpg"
            alt="Valérie"
            loading="lazy"
            class="w-64 h-64 object-cover rounded-full shadow-lg mb-4"
            >
            <h4 class="text-2xl font-semibold">Valérie Pasquier</h4>
            <span class="text-sm text-gray-500 uppercase">Secrétaire</span>
            <p class="mt-4">
                <a href="tel:+33754220799"><u>0754220799</u></a>
            </p>

        </div>
        <div class="flex flex-col items-center text-center">
            <img
            src="https://i.ibb.co/V93bdfq/gwenael-chapron.jpg"
            alt="Gwenaël"
            loading="lazy"
            class="w-64 h-64 object-cover rounded-full shadow-lg mb-4"
            >
            <h4 class="text-2xl font-semibold">Gwenaël Chapron</h4>
            <span class="text-sm text-gray-500 uppercase">Technicien</span>
        </div>
        <div class="flex flex-col items-center text-center">
            <img
            src="https://i.ibb.co/HY3dSM5/GOPR0017-1.jpg"
            alt="Thomas"
            loading="lazy"
            class="w-64 h-64 object-cover rounded-full shadow-lg mb-4"
            >
            <h4 class="text-2xl font-semibold">Thomas Lenormand</h4>
            <span class="text-sm text-gray-500 uppercase">Technicien</span>
        </div>
        <div class="flex flex-col items-center text-center">
            <img
            src="https://i.ibb.co/Z2nb6QJ/GOPR0196.jpg"
            alt="Aboubacar"
            loading="lazy"
            class="w-64 h-64 object-cover rounded-full shadow-lg mb-4"
            >
            <h4 class="text-2xl font-semibold">Aboubacar Traoré</h4>
            <span class="text-sm text-gray-500 uppercase">Apprenti</span>
        </div>

    </div>

  </div>

</section>
