<h2 class="title font-bold text-3xl md:text-4xl lg:text-5xl font-heading pt-8 pb-8 text-center">
    Notre équipe
</h2>

<div class="">
    <div class="container mx-auto px-6 md:px-12 xl:px-32">
        <div class="grid gap-12 items-center md:grid-cols-3">
            <div class="space-y-4 text-center">
                <img class="img shadow-lg w-64 h-64 mx-auto object-cover md:w-40 md:h-40 lg:w-64 lg:h-64"
                     src="https://i.ibb.co/9bwcgX3/samuel-courreau.jpg" alt="woman" loading="lazy" width="640" height="805">
                <div>
                    <h4 class="text-2xl">Coureau Samuel</h4>
                    <span class="block text-sm text-gray-500">Co-Fondateur et Technicien</span>
                </div>
            </div>
            <div class="space-y-4 text-center">
                <img class="img shadow-lg w-64 h-64 mx-auto object-cover md:w-48 md:h-64 lg:w-64 lg:h-80"
                     src="https://i.ibb.co/RykHVV4/pascal-pasquier.jpg" alt="man" loading="lazy" width="1000" height="667">
                <div>
                    <h4 class="text-2xl">Pascal Pasquier</h4>
                    <span class="block text-sm text-gray-500">Co-Fondateur et Technicien</span>
                </div>
            </div>
            <div class="space-y-4 text-center">
                <img class="img shadow-lg w-64 h-64 mx-auto object-cover md:w-40 md:h-40 lg:w-64 lg:h-64"
                     src="https://i.ibb.co/V93bdfq/gwenael-chapron.jpg" alt="woman" loading="lazy" width="1000" height="667">
                <div>
                    <h4 class="text-2xl">Gwenaël Chapron</h4>
                    <span class="block text-sm text-gray-500">Technicien</span>
                </div>
            </div>
            <div class="space-y-4 text-center">
                <img class="img shadow-lg w-64 h-64 mx-auto object-cover md:w-40 md:h-40 lg:w-64 lg:h-64"
                     src="https://i.ibb.co/Msdm6zj/val-rie-pasquier.jpg" alt="woman" loading="lazy" width="1000" height="667">
                <div>
                    <h4 class="text-2xl">Pasquier Valérie</h4>
                    <span class="block text-sm text-gray-500">Secrétaire</span>
                </div>
            </div>
            <div class="space-y-4 text-center">
                <img class="img shadow-lg w-64 h-64 mx-auto object-cover md:w-40 md:h-40 lg:w-64 lg:h-64"
                     src="https://i.ibb.co/QffpnbP/nicolas-pires.jpg" alt="woman" loading="lazy" width="1000" height="667">
                <div>
                    <h4 class="text-2xl">Nicolas Pires</h4>
                    <span class="block text-sm text-gray-500">Technicien</span>
                </div>
            </div>
            <div class="space-y-4 text-center">
                <img class="img shadow-lg w-64 h-64 mx-auto object-cover md:w-40 md:h-40 lg:w-64 lg:h-64"
                     src="https://i.ibb.co/025GS7P/GOPR0017-1.jpg" alt="woman" loading="lazy" width="1000" height="667">
                <div>
                    <h4 class="text-2xl">Thomas Lenormand</h4>
                    <span class="block text-sm text-gray-500">Technicien</span>
                </div>
            </div>
        </div>
    </div>
</div>
