<section class="equipe">
    <div class="mx-auto max-w-screen-2xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
        <div class="max-sm:w-auto">
            <h2 class="title text-4xl font-bold tracking-tight sm:text-5xl">
                Découvrez qui nous sommes
            </h2>
        </div>
    </div>
    <div class="container mx-auto p-8 md:px-12 xl:px-32">
        <div class="grid gap-12 items-center sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 py-24">
            <div class="relative space-y-4 text-center">
                <img class="img shadow-lg w-64 h-64 mx-auto object-cover md:w-40 md:h-40 lg:w-64 lg:h-64"
                     src="https://i.ibb.co/RykHVV4/pascal-pasquier.jpg" alt="Pascal" loading="lazy">
                <div class="absolute bottom-0 w-full bg-blur text-left md:pl-20 sm:pl-10">
                    <h4 class="text-2xl">Pascal Pasquier</h4>
                    <span class="block text-sm text-gray-500 uppercase">Co-Fondateur</span>
                </div>
            </div>
            <div class="relative space-y-4 text-center">
                <img class="img shadow-lg w-64 h-64 mx-auto object-cover md:w-40 md:h-40 lg:w-64 lg:h-64"
                     src="https://i.ibb.co/9bwcgX3/samuel-courreau.jpg" alt="Samuel" loading="lazy">
                <div class="absolute bottom-0 w-full bg-blur text-left md:pl-20 sm:pl-10">
                    <h4 class="text-2xl">Samuel</h4>
                    <span class="block text-sm text-gray-500 uppercase">Co-Fondateur</span>
                </div>
            </div>

            <div class="relative space-y-4 text-center">
                <img class="img shadow-lg w-64 h-64 mx-auto object-cover md:w-40 md:h-40 lg:w-64 lg:h-64"
                     src="https://i.ibb.co/V93bdfq/gwenael-chapron.jpg" alt="Gwenaël" loading="lazy">
                <div class="absolute bottom-0 w-full bg-blur text-left md:pl-20 sm:pl-10">
                    <h4 class="text-2xl">Gwenaël</h4>
                    <span class="block text-sm text-gray-500 uppercase">Technicien</span>
                </div>
            </div>
            <div class="relative space-y-4 text-center">
                <img class="img shadow-lg w-64 h-64 mx-auto object-cover md:w-40 md:h-40 lg:w-64 lg:h-64"
                     src="https://i.ibb.co/Msdm6zj/val-rie-pasquier.jpg" alt="Valérie" loading="lazy">
                <div class="absolute bottom-0 w-full bg-blur text-left md:pl-20 sm:pl-10">
                    <h4 class="text-2xl">Valérie</h4>
                    <span class="block text-sm text-gray-500 uppercase">Secrétaire</span>
                </div>
            </div>
            <div class="relative space-y-4 text-center">
                <img class="img shadow-lg w-64 h-64 mx-auto object-cover md:w-40 md:h-40 lg:w-64 lg:h-64"
                     src="https://i.ibb.co/QffpnbP/nicolas-pires.jpg" alt="Nicolas" loading="lazy">
                <div class="absolute bottom-0 w-full bg-blur text-left md:pl-20 sm:pl-10">
                    <h4 class="text-2xl">Nicolas</h4>
                    <span class="block text-sm text-gray-500 uppercase">Technicien</span>
                </div>
            </div>
            <div class="relative space-y-4 text-center">
                <img class="img shadow-lg w-64 h-64 mx-auto object-cover md:w-40 md:h-40 lg:w-64 lg:h-64"
                     src="https://i.ibb.co/025GS7P/GOPR0017-1.jpg" alt="Thomas" loading="lazy">
                <div class="absolute bottom-0 w-full bg-blur text-left md:pl-20 sm:pl-10">
                    <h4 class="text-2xl">Thomas</h4>
                    <span class="block text-sm text-gray-500 uppercase">Technicien</span>
                </div>
            </div>
        </div>
    </div>
</section>
