<div class="climatisation mb-4">

    <h2 class="title font-bold text-3xl md:text-4xl lg:text-5xl font-heading pt-8 pb-8 text-center">
        Prestations
    </h2>

    <div class="grid grid-cols-2 max-sm:grid-cols-1 mb-8">
        <div class="grid grid-cols-2 max-sm:grid-cols-1 max-xl:grid-cols-2 max-sm:m-4 min-md:grid-rows-1">
            <div>
                <img class="presta max-xl:w-full mx-auto rounded shadow-lg"
                     src="https://i.ibb.co/7tp6Cg3/installation-pc-clim.jpg"
                     alt="installation-pc-clim">
            </div>
            <div class="p-5">
                <h3 class="font-bold text-slate-700 leading-snug title">Installation</h3>
                <p class="mt-2 text-sm text-slate-600 indent-5 text">
                    Le système de climatisation réversible est un équipement qui nécessite une
                    installation professionnelle. Un expert en climatisation effectuera une évaluation
                    de la pièce à climatiser pour choisir le système adapté et planifiera son
                    installation en suivant les instructions du fabricant. Il garantira également un
                    fonctionnement optimal en effectuant un réglage précis.
                </p>
            </div>
        </div>
        <div class="grid grid-cols-2 max-sm:grid-cols-1 max-xl:grid-cols-2 max-sm:m-4 min-md:grid-rows-1">
            <div>
                <img class="presta max-xl:w-full mx-auto rounded shadow-lg"
                     src="https://i.ibb.co/NN6KTMv/IMG-1215.jpg"
                     alt="entretien-pc-clim">
            </div>
            <div class="p-5">
                <h3 class="font-bold text-slate-700 leading-snug title">Entretien</h3>
                <p class="mt-2 text-sm text-slate-600 indent-5 text">
                    Le système de climatisation réversible est un équipement qui nécessite une
                    installation professionnelle. Un expert en climatisation effectuera une évaluation
                    de la pièce à climatiser pour choisir le système adapté et planifiera son
                    installation en suivant les instructions du fabricant. Il garantira également un
                    fonctionnement optimal en effectuant un réglage précis.
                </p>
            </div>
        </div>
    </div>

    <div class="chauffe-eau flex items-center justify-center min-md:justify-items-center">
        <div class="container">
            <div class="flex max-sm:flex-col mt-4">
                <img class="flex-shrink-0 min-sm:grid-cols-1 mr-3 max-sm:grid-cols-1 max-xl:grid-cols-2 max-sm:m-4 min-md:grid-rows-1 rounded shadow-lg"
                     src="https://i.ibb.co/5cJ4LKW/chauffe-eau-thermodynamique.png"
                     alt="installation-chauffe-eau-thermodynamique-pc-clim" style="height: 20rem">
                <div class="p-5">
                    <h3 class="font-bold text-slate-700 leading-snug title">Chauffe-eau Thermodynamique</h3>
                    <p class="mt-2 text-sm text-slate-600 indent-5 text">
                        Un chauffe-eau thermodynamique est un appareil de chauffage qui utilise l'énergie contenue
                        dans l'air
                        ambiant pour produire de l'eau chaude. Il peut être utilisé comme source de chauffage
                        principal ou en
                        complément d'une autre source de chauffage, comme une chaudière ou un ballon d'eau chaude
                        électrique.
                        Pour toutes informations complémentaires, un membre de l'équipe sera en mesure de vous
                        accompagner dans
                        la réalisation de votre projet.
                    </p>
                </div>
            </div>
        </div>
    </div>
