<div class="my-12">

    <div class="climatisation">

        <h2 class="title font-bold text-3xl md:text-4xl lg:text-5xl font-heading pt-16 pb-16 text-center">
            Nos Prestations
        </h2>

        <div class="container mx-auto">
            <div class="grid grid-cols-2 max-xl:grid-cols-1 max-sm:m-4 min-md:grid-rows-2">
                <div class="p-4 max-sm:p-0">
                    <img class="max-xl:w-full max-xl:mt-4 mx-auto w-full"
                         src="https://images2.imgbox.com/59/35/mAAGoa3J_o.jpeg"
                         alt="imgAlt">
                    <div class="mt-2">
                        <div>
                            <div class="">
                                <h3 class="font-bold text-slate-700 leading-snug">Installation</h3>
                                <p class="mt-2 text-sm text-slate-600 indent-5">
                                    L'installation d'un système de climatisation réversible nécessite généralement
                                    l'intervention
                                    d'un
                                    professionnel qualifié. Le professionnel devra d'abord effectuer une évaluation de
                                    la
                                    pièce
                                    à
                                    climatiser
                                    afin de déterminer la taille et le type de système de climatisation réversible qui
                                    conviendront
                                    le
                                    mieux. Il devra ensuite installer les différents éléments du système, comme le
                                    compresseur,
                                    l'évaporateur et le condenseur, en suivant les instructions du fabricant. Il devra
                                    également
                                    effectuer
                                    un réglage précis du système pour garantir son bon fonctionnement.
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="button mt-4">
                        <a href="mailto:pc-clim@hotmil.com">Demander un devis</a>
                    </button>
                </div>

                <div class="p-4 max-sm:mt-4 max-md:mt-4 min-lg:mt-4 max-sm:p-0">
                    <img class="mx-auto w-full"
                         src="https://images2.imgbox.com/b9/69/LEbAzsXJ_o.jpeg"
                         alt="imgAlt">
                    <div class="mt-2">
                        <div>
                            <h3 class="font-bold text-slate-700 leading-snug">Entretien et réparation</h3>
                            <p class="mt-2 text-sm text-slate-600 indent-5">
                                Il est important de maintenir et d'entretenir régulièrement votre système de
                                climatisation
                                afin
                                de
                                garantir son bon fonctionnement et de prolonger sa durée de vie. En cas de panne de
                                votre
                                climatiseur,
                                il est recommandé de faire appel à un professionnel pour le réparer. Un professionnel
                                qualifié
                                comme
                                PC
                                CLIM sera en mesure de diagnostiquer rapidement le problème et de vous proposer une
                                solution
                                adaptée. Il
                                pourra également vous conseiller sur les meilleures façons de maintenir votre
                                climatiseur en
                                bon
                                état et
                                de prolonger sa durée de vie.
                            </p>
                        </div>
                    </div>
                    <button class="button mt-4">
                        <a href="mailto:pc-clim@hotmil.com">Demander un devis</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="chauffe-eau flex items-center justify-center my-12 max-sm:m-4 min-md:justify-items-center">
    <div class="container">
        <div class="flex max-sm:flex-col">
            <img class="flex-shrink-0 min-sm:grid-cols-1 mr-3 max-sm:mr-0 min-sm:w-full h-64"
                 src="https://i.ibb.co/5cJ4LKW/chauffe-eau-thermodynamique.png"
                 alt="imgAlt">
            <div class="mt-2">
                <h3 class="font-bold text-slate-700 leading-snug">Chauffe-eau Thermodynamique</h3>
                <p class="mt-2 text-sm text-slate-600 indent-5">
                    Un chauffe-eau thermodynamique est un appareil de chauffage qui utilise l'énergie contenue
                    dans l'air
                    ambiant pour produire de l'eau chaude. Il peut être utilisé comme source de chauffage
                    principal ou en
                    complément d'une autre source de chauffage, comme une chaudière ou un ballon d'eau chaude
                    électrique.
                    Pour toutes informations complémentaires, un membre de l'équipe sera en mesure de vous
                    accompagner dans
                    la réalisation de votre projet.
                </p>
                <button class="button mt-4 mb-4">
                    <a href="mailto:pc-clim@hotmil.com">Demander un devis</a>
                </button>
            </div>
        </div>
    </div>
</div>
</div>