<div class="climatisation mb-4">

    <h2 class="title font-bold text-3xl md:text-4xl lg:text-5xl font-heading pt-8 pb-8 text-center">
        Prestations
    </h2>

    <div class="grid grid-cols-2 max-sm:grid-cols-1 mb-8">
        <div class="grid grid-cols-2 max-sm:grid-cols-1 max-xl:grid-cols-2 max-sm:m-4 min-md:grid-rows-1">
            <div>
                <img class="presta max-xl:w-full mx-auto rounded shadow-lg"
                     src="{{ asset('build/installation-pc-clim.jpeg') }}"
                     alt="installation-pc-clim">
            </div>
            <div class="p-5">
                <h3 class="font-bold text-slate-700 leading-snug title">Installation</h3>
                <p class="mt-2 text-sm text-slate-600 indent-5 text">
                    Le système de climatisation réversible est un équipement qui nécessite une
                    installation professionnelle. Un expert en climatisation effectuera une évaluation
                    de la pièce à climatiser pour choisir le système adapté et planifiera son
                    installation en suivant les instructions du fabricant. Il garantira également un
                    fonctionnement optimal en effectuant un réglage précis.
                </p>
            </div>
        </div>
        <div class="grid grid-cols-2 max-sm:grid-cols-1 max-xl:grid-cols-2 max-sm:m-4 min-md:grid-rows-1">
            <div>
                <img class="presta max-xl:w-full mx-auto rounded shadow-lg"
                     src="{{ asset('build/employe-pc-clim.jpg') }}"
                     alt="entretien-pc-clim">
            </div>
            <div class="p-5">
                <h3 class="font-bold text-slate-700 leading-snug title">Entretien</h3>
                <p class="mt-2 text-sm text-slate-600 indent-5 text">
                    Le système de climatisation réversible est un équipement qui nécessite une
                    installation professionnelle. Un expert en climatisation effectuera une évaluation
                    de la pièce à climatiser pour choisir le système adapté et planifiera son
                    installation en suivant les instructions du fabricant. Il garantira également un
                    fonctionnement optimal en effectuant un réglage précis.
                </p>
            </div>
        </div>
    </div>

    <div class="chauffe-eau flex items-center justify-center min-md:justify-items-center">
        <div class="container">
            <div class="flex max-sm:flex-col mt-4">
                <img class="flex-shrink-0 min-sm:grid-cols-1 mr-3 max-sm:grid-cols-1 max-xl:grid-cols-2 max-sm:m-4 min-md:grid-rows-1 rounded shadow-lg"
                     src="{{ asset('build/projets-personnalises.jpg') }}"
                     alt="installation-chauffe-eau-thermodynamique-pc-clim" style="height: 20rem">
                <div class="p-5">
                    <h3 class="font-bold text-slate-700 leading-snug title">Projets Personnalisés</h3>
                    <p class="mt-2 text-sm text-slate-600 indent-5 text">
                        PC clim vous offre un accompagnement personnalisé pour l'installation de votre
                        climatisation réversible. Chaque client a des besoins uniques en matière de
                        confort thermique et nous nous efforçons de les satisfaire. Contactez PC Clim dès aujourd'hui
                        pour
                        en savoir plus sur notre accompagnement personnalisé pour l'installation de votre climatisation
                        réversible.
                    </p>

                    <p class="mt-2 text-sm text-slate-600 indent-5 text">
                        En plus de l'installation, PC Clim fourni également un support technique pour vous
                        assurer que votre climatisation réversible fonctionne correctement et continue de le faire pour
                        de nombreuses années à venir. Ils sont à votre disposition pour répondre à toutes vos
                        questions et pour vous aider à entretenir votre système.
                    </p>
                </div>
            </div>
        </div>
    </div>
